.place-order {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .place-order-left {
    width: 45%;
  }
  
  .place-order-right {
    width: 45%;
  }
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .multi-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus {
    border-color: #009688;
  }
  
  .cart-total {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .cart-total-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .cart-total-details b {
    font-weight: bold;
  }
  
  button.place-order-submit {
    padding: 10px 20px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.place-order-submit:hover {
    background-color: #00796b;
  }
  